.youtube {
    width: 1000px;
    margin: auto;
    margin-top: 40px;
}

h2 {
font-family:'Anton', sans-serif;
text-align: center;
}

.div-audio {
    width: 1000px;
    text-align: center;
    margin-top: 40px;
    margin: auto;
}

